{% extends "base.html" %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="list-main">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1>{{ title }}</h1>
          <br/>
          <form action="" method="get">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="q" placeholder="Введите название поста" aria-label="post-name" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <a href="{% url 'places:search' %}"
                   type="button"
                   class="btn btn-outline-primary">Найти</a>
              </div>
            </div>
          </form>

          {% for obj in object_list %}
            <div class="card text-dark bg-light mx-auto">
              {% if obj.image %}
                <img class="card-img-top" src="{{ obj.image.url }}" alt="Image">
              {% endif %}
              <div class="card-body post-detail-item">
                <h5 class="card-title"><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.timestamp }}</small></h5>
                {% if obj.user.get_full_name %}
                  <p>Автор: {{ obj.user.get_full_name }}</p>
                {% endif %}
                <p class="card-text">{{ obj.content | truncatewords_html:10 }}<br/></p>
                <a href='{{ obj.get_absolute_url }}' class="btn btn-primary">Смотреть</a>
              </div>
            </div>
            <br/>
          {% endfor %}

          {% if object_list.paginator.num_pages > 1 %}
            <nav id="page-nav">
              <ul class="pagination justify-content-center">
                <li class="page-item {% if not object_list.has_previous %}disabled{% endif %}">
                  <a class="page-link"
                     href="{% if object_list.has_previous %}
                             ?page={{ object_list.previous_page_number }}
                           {% endif %}"
                     tabindex="-1">Предыдущая</a>
                </li>
                {% for num in num_pages %}
                  <li class="page-item {% if object_list.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                {% endfor %}
      
                <li class="page-item {% if not object_list.has_next %}disabled{% endif %}">
      
                  <a class="page-link"
                     href="{% if object_list.has_next %}?page={{ object_list.next_page_number }}{% endif %}">
                    Следующая
                  </a>
                </li>
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}