.img-d {
    width: 600px;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 3px;
}

.bold-field {
    font-weight: bold;
}

.tab-content-inner {
    margin-top: 13px;
}

#place-detail-main {
    margin-top: 90px;
}

#nav-tab {
    background-color: #FFFFFF;
}