{% extends 'base.html' %}

{% block head_title %}Рестораны | Места{% endblock head_title %}

{% block content %}
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for i in carousel_amount %}
          <li data-target="#carouselIndicators"
              data-slide-to="{{ i }}" {% if forloop.first %}class="active"{% endif %}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for obj, image in carousel %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <a href="{{ obj.get_absolute_url }}">
            <img class="image-fluid d-block w-100 image-pos" src="{{ image.url }}">
              <div class="dark-overlay"></div>
              <div class="carousel-caption d-none d-md-block">
                <h1 class="slide-caption-main">{{ obj }}</h1>
                <p class="h5">{{ obj.short_description }}</p>
              </div>
          </a>
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий элемент</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Следующий элемент</span>
      </a>
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      <form action="{% url 'places:search' %}" name="q" method="GET">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="q" placeholder="Введите название места" aria-label="place-name" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">Найти</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <p class="text-center">или выберите интересующую вас категорию:</p>
            <div class="btn-block text-center">
              <a href="{% url 'places:list' %}" class="btn btn-outline-info" type="button">Все заведения</a>
              {% for tag in tags %}
                <a href="{% url 'places:get-tag' %}?tag={{ tag | urlencode }}"
                   class="btn btn-outline-dark"
                   type="button">{{ tag }}</a>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
