{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  {{ title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
  <div id="list-main" class="container">
    <h1>{{ title }}</h1>
    <hr/>
    {% for place in place_objects %}
      {% cycle '<div class="row"><div class="card-deck w-100">' '' '' %}
      <div class="col-lg-4 mt-3">
        <div class="card h-100">
          <img class="card-img-top img-fluid" src="{{ place.image_cover_url }}">
          <div class="card-body">
            <a href="{{ place.get_absolute_url }}" class="h4 card-title">{{ place.name }}</a>
            <hr/>
            <p class="card-text">{{ place.short_description }}</p>
          </div>
        </div>
      </div>
      {% cycle '' '' '</div></div><br/>' %}
      {% if forloop.last and not forloop.counter|divisibleby:3 %}
        </div></div><br/>
      {% endif %}
    {% endfor %}

    {% if place_objects.paginator.num_pages > 1 %}
      <nav id="page-nav">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if not place_objects.has_previous %}disabled{% endif %}">
            <a class="page-link"
               href="{% if place_objects.has_previous %}
                       ?page={{ place_objects.previous_page_number }}
                     {% endif %}"
               tabindex="-1">Предыдущая</a>
          </li>
          {% for num in num_pages %}
            <li class="page-item {% if place_objects.number == num %}active{% endif %}">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endfor %}

          <li class="page-item {% if not place_objects.has_next %}disabled{% endif %}">

            <a class="page-link"
               href="{% if place_objects.has_next %}?page={{ place_objects.next_page_number }}{% endif %}">
              Следующая
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}
    </div>
  </div>
{% endblock %}