{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  {{ instance }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/place_detail.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="place-detail-main">
      <div class="col">
        <h1>
          {{ instance.name }}<br/>
          <small style="font-size: 20px">
            {% if instance.draft %}
              <span style='color:red;'>Черновик</span>
            {% endif %}
          </small>
        </h1>
        <hr/>
        <img src="{{ image.url }}" class="img-fluid rounded">
        {{ instance.description }}
{#        <p>Владелец заведения: {{ instance.owner.get_full_name }}</p>#}
      </div>
    </div>
  </div>
{% endblock content %}