{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  {{ instance }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/place_detail.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="place-detail-main">
      <div class="row">
        <div class="col">
          <h1>
            {{ instance.name }}<br/>
            <small style="font-size: 20px">
              {% if instance.draft %}
                <span style='color:red;'>Черновик</span>
              {% endif %}
            </small>
          </h1>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col">
          <div id="detail-img" class="pull-left">
            {% if instance.image_cover_url %}
              <img class="img-fluid rounded img-d" src="{{ instance.image_cover_url }}">
            {% endif %}
          </div>

          {% if instance.short_description %}
            <h2>{{ instance.short_description }}</h2>
          {% endif %}
          {% if instance.long_description %}
            <p>{{ instance.long_description }}</p>
          {% endif %}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              {% for tag, _ in instance.layout_info %}
                <a class="nav-item nav-link {% if forloop.first %}active{% endif %}"
                   id="nav-{{ tag.0 }}-tab"
                   data-toggle="tab"
                   href="#nav-{{ tag.0 }}"
                   role="tab"
                   aria-controls="nav-{{ tag.0 }}"
                   aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ tag.1 }}</a>
              {% endfor %}
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            {% for tag, section in instance.layout_info %}
              <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                   id="nav-{{ tag.0 }}"
                   role="tabpanel"
                   aria-labelledby="nav-{{ tag.0 }}-tab">
                <div class="tab-content-inner">
                  {% for prop in section %}
                    <div class="row">
                      <p class="col-sm-2 bold-field">{{ prop.0 }}</p>
                      <div class="col-sm-10">
                        <p>{{ prop.1 }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
{#        <p>Владелец заведения: {{ instance.owner.get_full_name }}</p>#}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}