{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/place_list.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="place-list-main">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1>{{ title }}</h1>
        <hr/>
        {% for place in all_fss %}
          <div class="card mb-3">
            <img class="card-img-top" src="https://img02.rl0.ru/afisha/o/s1.afisha.ru/MediaStorage/38/21/52302ca88b4145a8b24460e42138.jpg">
            <div class="card-body">
              <a href="{{ place.get_absolute_url }}" class="h4 card-title">{{ place.name }}</a>
              <p class="card-text">{{ place.description | truncatechars:100 }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
{% endblock %}