{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  {{ title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/place_list.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="place-list-main">
      <h1>{{ title }}</h1>
      <hr/>
      {% for place in place_objects %}
        {% cycle '<div class="row"><div class="card-deck">' '' '' %}
        <div class="card">
          <img class="card-img-top img-fluid img-r" src="{{ place.image_cover_url }}">
          <div class="card-body">
            <a href="{{ place.get_absolute_url }}" class="h4 card-title">{{ place.name }}</a>
          </div>
        </div>
        {% cycle '' '' '</div></div><br/>' %}
        {% if forloop.last and not forloop.counter|divisibleby:3 %}
          </div></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}