{% extends "base.html" %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="list-main">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1>Привет.</h1>
          <p>
            Меня зовут Новиков Даниил, и я являюсь создателем проекта "Места".

            Данная разработка пока является чисто учебной, поэтому я надеюсь, что никто не расстроится
            из-за того, что я взял небольшое количество данных о ресторанах с сайта afisha.ru :)). На данный
            момент (26.02.18):</p>

          <ul>
            <li>Целью данного проекта является практика в наисании веб-приложений, но я не исключаю, что
            в будущем данная разработка может стать чем-то большим, чем pet-project: идеи есть, и большая их
            часть пока находится в планах.</li>
            <li>Исходный код сайта доступен на <a href="https://github.com/ddnovikov/mesta">github</a></li>
            <li>Сейчас я активно ищу работу и буду рад любым предложениям. Способы связи со мной указаны ниже.</li>
          </ul>

          <h5>Контакты:</h5>
          <ul>
            <li>Telegram: @ddnovikov</li>
            <li>VK: <a href="https://vk.com/id183562900">https://vk.com/id183562900</a></li>
            <li>Email: ddnovikov.work@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}